@import "tailwindcss";

@theme {
  --color-primary: #381932;
  --color-milk: #FFF3E6;
  --color-success: #22c55e;
  --color-accent-purple: #a855f7;
  
  --font-inter: "Inter", sans-serif;
}

:root {
  --background: #FFF3E6;
  --foreground: #381932;
  --primary: #381932;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    @apply border-primary/10;
  }
}
